<div class='tasks'>
    <div class='tasksColumn'>
        <h4>Новые</h4>
    </div>
    <div class='tasksColumn'>
        <h4>В процессе</h4>
    </div>
    <div class='tasksColumn'>
        <h4>Выполнено</h4>
    </div>
</div>